@import "tailwindcss";
@import "@nuxt/ui";

:root,
.blue {
    --ui-primary: #1767ce;
    --ui-secondary: #4e92e6;
    --ui-tertiary: #d3e5fa;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
}

.olive-green {
    --ui-primary: #b6c694;
    --ui-secondary: #dcecbf;
    --ui-tertiary: #f1f2e4;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #756d44;
}

.silver {
    --ui-primary: #acacc3;
    --ui-secondary: #ffffff;
    --ui-tertiary: #e7e6ed;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
}

.royale-noir {
    --ui-primary: #19202d;
    --ui-secondary: #10141a;
    --ui-tertiary: #5a606f;
    --ui-bg: #353f4d;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
}

.zune {
    --ui-primary: #575757;
    --ui-secondary: #131313;
    --ui-tertiary: #666666;
    --ui-bg: #2f2f2f;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
}

.embedded {
    --ui-primary: #337ab2;
    --ui-secondary: #013661;
    --ui-tertiary: #2e75ad;
    --ui-bg: #013c6b;
    --ui-fg-sm: #6c98c5;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
}

body {
    @apply bg-bg text-fg-md;
}

a {
    @apply underline text-fg-lg font-bold;
}
