@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma-regular.ttf") format("truetype");
}


/*region DOM*/
/*overwrite the nuxt body wrapper called __nuxt, in order to scale page to vertical full*/
#__nuxt {
    @apply min-h-full flex flex-col;
}

html{
    @apply h-full;
    font-family: "tahoma", sans-serif;
}

body {
    @apply text-fg-md flex flex-col w-full h-full;
    background-image: var(--ui-wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

button {
    @apply rounded-sm;
}

a {
    @apply underline text-fg-lg font-bold;
}
/*endregion DOM*/


/*region Components */
@layer components {
    .mm-bg-pri-sec {
        @apply bg-linear-to-b from-primary to-secondary ;
    }
    .mm-bg-sec-pri {
        @apply bg-linear-to-b from-secondary to-primary;
    }
    .mm-bg-pri-sec-pri {
        @apply bg-linear-to-b from-primary via-secondary to-primary;
    }
}
/*endregion Components */


/*region Themes*/
.blue {
    --ui-primary: #1767ce;
    --ui-secondary: #4691eb;
    --ui-tertiary: #d3e5fa;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/1blue.jpg');
    --ui-start-button: #00b400;
    --ui-close-button: #e6440c;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.blue .mm-gradient-direction {
    @apply bg-red-500;
}
.blue .mm-inline-highlight {
    @apply inset-shadow-sm inset-shadow-white/50;
}

.olive-green {
    --ui-primary: #b6c694;
    --ui-secondary: #dcecbf;
    --ui-tertiary: #f1f2e4;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #756d44;
    --ui-fg-on-pri: #000000;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/2olive-green.png');
    --ui-start-button: #00b400;
    --ui-close-button: #e6440c;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.olive-green .mm-gradient-direction {
    @apply bg-lime-500;
}
.olive-green .mm-inline-highlight {
    @apply inset-shadow-sm inset-shadow-white;
}

.silver {
    --ui-primary: #b0b2c7;
    --ui-secondary: #ffffff;
    --ui-tertiary: #e7e6ed;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
    --ui-fg-on-pri: #000000;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/3silver.jpg');
    --ui-start-button: #00b400;
    --ui-close-button: #e6440c;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.silver .mm-gradient-direction {
    @apply bg-slate-400;
}
.silver .mm-inline-highlight {
    @apply inset-shadow-sm inset-shadow-white/80;
}

.royale-noir {
    --ui-primary: #19202d;
    --ui-secondary: #10141a;
    --ui-tertiary: #5a606f;
    --ui-bg: #353f4d;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/4royale-noir.webp');
    --ui-start-button: #1f2e4a;
    --ui-close-button: #19202d;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.royale-noir .mm-gradient-direction {
    @apply bg-neutral-800;
}

.zune {
    --ui-primary: #575757;
    --ui-secondary: #131313;
    --ui-tertiary: #666666;
    --ui-bg: #2f2f2f;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/5zune.jpg');
    --ui-start-button: #fe6700;
    --ui-close-button: #575757;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.zune .mm-gradient-direction {
    @apply bg-orange-500;
}

.embedded {
    --ui-primary: #337ab2;
    --ui-secondary: #013661;
    --ui-tertiary: #2e75ad;
    --ui-bg: #013c6b;
    --ui-fg-sm: #6c98c5;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/6embedded.jpeg');
    --ui-start-button: #00548c;
    --ui-close-button: #337ab2;
    --ui-turn-off-button: #e6440c;
    --ui-log-off-button: #e3af66;
}
.embedded .mm-gradient-direction {
    @apply bg-sky-500;
}
/*endregion Themes*/