@import "tailwindcss";
@import "@nuxt/ui";

/*region Themes*/
.blue {
    --ui-primary: #1767ce;
    --ui-secondary: #4e92e6;
    --ui-tertiary: #d3e5fa;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/1blue.jpg');
}

.olive-green {
    --ui-primary: #b6c694;
    --ui-secondary: #dcecbf;
    --ui-tertiary: #f1f2e4;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #756d44;
    --ui-fg-on-pri: #000000;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/2olive-green.png');
}

.silver {
    --ui-primary: #acacc3;
    --ui-secondary: #ffffff;
    --ui-tertiary: #e7e6ed;
    --ui-bg: #ffffff;
    --ui-fg-sm: #acacac;
    --ui-fg-md: #000000;
    --ui-fg-lg: #0a246a;
    --ui-fg-on-pri: #000000;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/3silver.jpg');
}

.royale-noir {
    --ui-primary: #19202d;
    --ui-secondary: #10141a;
    --ui-tertiary: #5a606f;
    --ui-bg: #353f4d;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/4royale-noir.webp');
}

.zune {
    --ui-primary: #575757;
    --ui-secondary: #131313;
    --ui-tertiary: #666666;
    --ui-bg: #2f2f2f;
    --ui-fg-sm: #717678;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/5zune.jpg');
}

.embedded {
    --ui-primary: #337ab2;
    --ui-secondary: #013661;
    --ui-tertiary: #2e75ad;
    --ui-bg: #013c6b;
    --ui-fg-sm: #6c98c5;
    --ui-fg-md: #ffffff;
    --ui-fg-lg: #ffffff;
    --ui-fg-on-pri: #ffffff;
    --ui-wallpaper: url('../../../public/images/theme-wallpapers/6embedded.jpeg');
}
/*endregion Themes*/


/*region Components */
@layer components {
    .mm-bg-pri-sec {
        @apply bg-linear-to-b from-primary to-secondary ;
    }
    .mm-bg-pri-sec-pri {
        @apply bg-linear-to-b from-primary via-secondary to-primary;
    }
}
/*endregion Components */


/*region DOM*/
html{
    @apply h-full;
}

/*overwrite the nuxt body wrapper called __nuxt to scale*/
#__nuxt {
    @apply min-h-full flex flex-col;
}

body {
    @apply text-fg-md flex flex-col w-full h-full;
    background-image: var(--ui-wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



a {
    @apply underline text-fg-lg font-bold;
}
/*endregion DOM*/