@import "tailwindcss";
@import "@nuxt/ui";

/* Suffix = os- 'operating system' styling:
* OS Colors & Wallpaper
* Windows
* Taskbar
* Start Menu
*/

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma-regular.ttf") format("truetype");
}

:root {
    font-family: "tahoma", sans-serif;
}

html {
    @apply h-full;
}

body {
    @apply text-os-fg-md flex flex-col w-full h-full;
    background-image: var(--ui-os-wallpaper);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*region Themes Light*/
:is(.os-blue, .light) {
    --ui-os-primary: #1767ce;
    --ui-os-secondary: #4691eb;
    --ui-os-tertiary: #d3e5fa;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/1blue.jpg');

    --ui-os-bg: #ffffff;
    --ui-os-fg-sm: #acacac;
    --ui-os-fg-md: #000000;
    --ui-os-fg-lg: #0a246a;
    --ui-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/50;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}

.os-olive-green {
    --ui-os-primary: #b6c694;
    --ui-os-secondary: #dcecbf;
    --ui-os-tertiary: #f1f2e4;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/2olive-green.png');

    --ui-os-bg: #ffffff;
    --ui-os-fg-sm: #acacac;
    --ui-os-fg-md: #000000;
    --ui-os-fg-lg: #756d44;
    --ui-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}


.os-silver {
    --ui-os-primary: #b0b2c7;
    --ui-os-secondary: #ffffff;
    --ui-os-tertiary: #e7e6ed;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/3silver.jpg');

    --ui-os-bg: #ffffff;
    --ui-os-fg-sm: #acacac;
    --ui-os-fg-md: #000000;
    --ui-os-fg-lg: #0a246a;
    --ui-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/80;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}

/*endregion Themes Light*/


/*region Themes Dark*/
:is(.os-royale-noir, .dark) {
    --ui-os-primary: #162132;
    --ui-os-secondary: #5a6576;
    --ui-os-tertiary: #5a606f;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/4royale-noir.png');

    --ui-os-bg: #353f4d;
    --ui-os-fg-sm: #717678;
    --ui-os-fg-md: #ffffff;
    --ui-os-fg-lg: #ffffff;
    --ui-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
    }

    .os-button-general-colors {
        @apply bg-[#080c13]
    }

    .os-button-close-colors {
        @apply bg-[#19202d]
    }

    .os-window-titlebar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-primary) 0%, #080c13 50%, #080c13 50%);
    }

    .os-taskbar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-bg) 65%);
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#1f2e4a] to-[#1f2e4a]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }

    .os-startmenu-bottom-colors {
        @apply bg-os-secondary
    }
}


.os-zune {
    --ui-os-primary: #000000;
    --ui-os-secondary: #575757;
    --ui-os-tertiary: #666666;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/5zune.jpg');

    --ui-os-bg: #2f2f2f;
    --ui-os-fg-sm: #717678;
    --ui-os-fg-md: #ffffff;
    --ui-os-fg-lg: #ffffff;
    --ui-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/20;
    }

    .os-button-general-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-bg) 0%, var(--ui-os-bg) 35%, var(--ui-os-secondary) 65%);

    }

    .os-button-close-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-bg) 0%, var(--ui-os-bg) 35%, var(--ui-os-secondary) 65%);

    }

    .os-window-titlebar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-bg) 0%, var(--ui-os-bg) 35%, var(--ui-os-secondary) 65%);
    }

    .os-taskbar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-bg) 65%);
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#fe6700] to-[#fe6700]
    }

    .os-startmenu-top-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-primary) 65%);
    }

    .os-startmenu-bottom-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-primary) 65%);
    }
}


.os-embedded {
    --ui-os-primary: #01325a;
    --ui-os-secondary: #256ca4;
    --ui-os-tertiary: #2e75ad;
    --ui-os-wallpaper: url('../../../public/images/os/theme-wallpapers/6embedded.jpeg');

    --ui-os-bg: #013c6b;
    --ui-os-fg-sm: #6c98c5;
    --ui-os-fg-md: #ffffff;
    --ui-os-fg-lg: #ffffff;
    --ui-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/10;
    }

    .os-button-general-colors {
        background-image: linear-gradient(to bottom, #014479 0%, #014479 35%, var(--ui-os-secondary) 65%);
    }

    .os-button-close-colors {
        @apply bg-[linear-gradient(to_bottom,#014479_0%,#014479_35%,var(--ui-os-secondary)_65%)]
    }

    .os-window-titlebar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-primary) 0%, var(--ui-os-primary) 40%, #145b93 60%);
    }

    .os-taskbar-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-primary) 65%);
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00548c] to-[#00548c]
    }

    .os-startmenu-top-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-primary) 65%);
    }

    .os-startmenu-bottom-colors {
        background-image: linear-gradient(to bottom, var(--ui-os-secondary) 0%, var(--ui-os-secondary) 35%, var(--ui-os-primary) 65%);
    }
}

/*endregion Themes Dark*/