@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma-regular.ttf") format("truetype");
}


/* Suffix = os- 'operating system' styling:
* OS Colors & Wallpaper
* Windows
* Taskbar
* Start Menu
* Apply this class to the root page/comp container */
.os-STYLE {
    z-index: 980; /* 980-999 */
    font-family: "tahoma", sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
}

body {
    @apply text-os-fg-md flex flex-col w-full h-full bg-cover bg-no-repeat bg-center;
    @apply bg-(image:--color-os-wp);
}


@theme static {
    /* Dynamic semantics (Placeholders for Light/Dark Themes) */
    --color-os-pri: none;
    --color-os-sec: none;
    --color-os-ter: none;

    --color-os-wp: none;
    --color-os-bg: none;

    --color-os-fg-sm: none;
    --color-os-fg-md: none;
    --color-os-fg-lg: none;
    --color-os-fg-on-pri: none;
}


/*region Themes Light*/
:is(.os-blue, .light) {
    --color-os-pri: #1767ce;
    --color-os-sec: #4691eb;
    --color-os-ter: #d3e5fa;

    --color-os-wp: url('../../../public/images/os/theme-wallpapers/1blue.jpg');
    --color-os-bg: #ffffff;

    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #0a246a;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/50;
    }

    .os-button-general-colors {
        @apply bg-os-pri
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-sec to-os-pri
    }
}

.os-olive-green {
    --color-os-pri: #b6c694;
    --color-os-sec: #dcecbf;
    --color-os-ter: #f1f2e4;

    --color-os-wp: url('../../../public/images/os/theme-wallpapers/2olive-green.png');
    --color-os-bg: #ffffff;

    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #756d44;
    --color-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white;
    }

    .os-button-general-colors {
        @apply bg-os-pri
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-sec to-os-pri
    }
}


.os-silver {
    --color-os-pri: #b0b2c7;
    --color-os-sec: #ffffff;
    --color-os-ter: #e7e6ed;

    --color-os-wp: url('../../../public/images/os/theme-wallpapers/3silver.jpg');
    --color-os-bg: #ffffff;

    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #0a246a;
    --color-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/80;
    }

    .os-button-general-colors {
        @apply bg-os-pri
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-pri to-os-sec
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-sec to-os-pri
    }
}

/*endregion Themes Light*/


/*region Themes Dark*/
:is(.os-royale-noir, .dark) {
    --color-os-pri: #162132;
    --color-os-sec: #5a6576;
    --color-os-ter: #5a606f;

    --color-os-wp: url('../../../public/images/os/theme-wallpapers/4royale-noir.png');
    --color-os-bg: #353f4d;

    --color-os-fg-sm: #717678;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
    }

    .os-button-general-colors {
        @apply bg-[#080c13]
    }

    .os-button-close-colors {
        @apply bg-[#19202d]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-pri)_0%,#080c13_50%,#080c13_50%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-bg)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#1f2e4a] to-[#1f2e4a]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-sec to-os-pri
    }

    .os-startmenu-bottom-colors {
        @apply bg-os-sec
    }
}


.os-zune {
    --color-os-pri: #000000;
    --color-os-sec: #575757;
    --color-os-ter: #666666;

    --color-os-wp: url('../../../public/images/os/theme-wallpapers/5zune.jpg');
    --color-os-bg: #2f2f2f;

    --color-os-fg-sm: #717678;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/20;
    }

    .os-button-general-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-sec)_65%)]
    }

    .os-button-close-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-sec)_65%)]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-sec)_65%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-bg)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#fe6700] to-[#fe6700]
    }

    .os-startmenu-top-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-pri)_65%)]
    }

    .os-startmenu-bottom-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-pri)_65%)]
    }
}


.os-embedded {
    --color-os-pri: #01325a;
    --color-os-sec: #256ca4;
    --color-os-ter: #2e75ad;
    --color-os-wp: url('../../../public/images/os/theme-wallpapers/6embedded.jpeg');

    --color-os-bg: #013c6b;
    --color-os-fg-sm: #6c98c5;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/10;
    }

    .os-button-general-colors {
        @apply bg-[linear-gradient(to_bottom,#014479_0%,#014479_35%,var(--color-os-sec)_65%)]
    }

    .os-button-close-colors {
        @apply bg-[linear-gradient(to_bottom,#014479_0%,#014479_35%,var(--color-os-sec)_65%)]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-pri)_0%,var(--color-os-pri)_40%,#145b93_60%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-pri)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00548c] to-[#00548c]
    }

    .os-startmenu-top-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-pri)_65%)]
    }

    .os-startmenu-bottom-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-sec)_0%,var(--color-os-sec)_35%,var(--color-os-pri)_65%)]
    }
}

/*endregion Themes Dark*/