@import "tailwindcss";
@import "@nuxt/ui";

/* Suffix = os- 'operating system' styling:
* OS Colors & Wallpaper
* Windows
* Taskbar
* Start Menu
*/

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma-regular.ttf") format("truetype");
}

@theme static {
    /* Placeholder declarations */
    --color-os-primary: none;
    --color-os-secondary: none;
    --color-os-tertiary: none;
    --color-os-wallpaper: none;

    --color-os-bg: none;
    --color-os-fg-sm: none;
    --color-os-fg-md: none;
    --color-os-fg-lg: none;
    --color-os-fg-on-pri: none;
}

.STYLE-os {
    font-family: "tahoma", sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
}

body {
    @apply text-os-fg-md flex flex-col w-full h-full bg-cover bg-no-repeat bg-center;
    @apply bg-[image:var(--color-os-wallpaper)];
}

/*region Themes Light*/
:is(.os-blue, .light) {
    --color-os-primary: #1767ce;
    --color-os-secondary: #4691eb;
    --color-os-tertiary: #d3e5fa;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/1blue.jpg');

    --color-os-bg: #ffffff;
    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #0a246a;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/50;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}

.os-olive-green {
    --color-os-primary: #b6c694;
    --color-os-secondary: #dcecbf;
    --color-os-tertiary: #f1f2e4;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/2olive-green.png');

    --color-os-bg: #ffffff;
    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #756d44;
    --color-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}


.os-silver {
    --color-os-primary: #b0b2c7;
    --color-os-secondary: #ffffff;
    --color-os-tertiary: #e7e6ed;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/3silver.jpg');

    --color-os-bg: #ffffff;
    --color-os-fg-sm: #acacac;
    --color-os-fg-md: #000000;
    --color-os-fg-lg: #0a246a;
    --color-os-fg-on-pri: #000000;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/80;
    }

    .os-button-general-colors {
        @apply bg-os-primary
    }

    .os-button-close-colors {
        @apply bg-[#e6440c]
    }

    .os-window-titlebar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-taskbar-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary;
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00b400] to-[#00b400]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-primary to-os-secondary
    }

    .os-startmenu-bottom-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }
}

/*endregion Themes Light*/


/*region Themes Dark*/
:is(.os-royale-noir, .dark) {
    --color-os-primary: #162132;
    --color-os-secondary: #5a6576;
    --color-os-tertiary: #5a606f;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/4royale-noir.png');

    --color-os-bg: #353f4d;
    --color-os-fg-sm: #717678;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
    }

    .os-button-general-colors {
        @apply bg-[#080c13]
    }

    .os-button-close-colors {
        @apply bg-[#19202d]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-primary)_0%,#080c13_50%,#080c13_50%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-bg)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#1f2e4a] to-[#1f2e4a]
    }

    .os-startmenu-top-colors {
        @apply bg-linear-to-b from-os-secondary to-os-primary
    }

    .os-startmenu-bottom-colors {
        @apply bg-os-secondary
    }
}


.os-zune {
    --color-os-primary: #000000;
    --color-os-secondary: #575757;
    --color-os-tertiary: #666666;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/5zune.jpg');

    --color-os-bg: #2f2f2f;
    --color-os-fg-sm: #717678;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/20;
    }

    .os-button-general-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-secondary)_65%)]
    }

    .os-button-close-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-secondary)_65%)]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-bg)_0%,var(--color-os-bg)_35%,var(--color-os-secondary)_65%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-bg)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#fe6700] to-[#fe6700]
    }

    .os-startmenu-top-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-primary)_65%)]
    }

    .os-startmenu-bottom-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-primary)_65%)]
    }
}


.os-embedded {
    --color-os-primary: #01325a;
    --color-os-secondary: #256ca4;
    --color-os-tertiary: #2e75ad;
    --color-os-wallpaper: url('../../../public/images/os/theme-wallpapers/6embedded.jpeg');

    --color-os-bg: #013c6b;
    --color-os-fg-sm: #6c98c5;
    --color-os-fg-md: #ffffff;
    --color-os-fg-lg: #ffffff;
    --color-os-fg-on-pri: #ffffff;

    .os-inline-highlight {
        @apply inset-shadow-sm inset-shadow-white/10;
    }

    .os-button-general-colors {
        @apply bg-[linear-gradient(to_bottom,#014479_0%,#014479_35%,var(--color-os-secondary)_65%)]
    }

    .os-button-close-colors {
        @apply bg-[linear-gradient(to_bottom,#014479_0%,#014479_35%,var(--color-os-secondary)_65%)]
    }

    .os-window-titlebar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-primary)_0%,var(--color-os-primary)_40%,#145b93_60%)]
    }

    .os-taskbar-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-primary)_65%)]
    }

    .os-taskbar-startbutton-colors {
        @apply bg-linear-to-b from-[#00548c] to-[#00548c]
    }

    .os-startmenu-top-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-primary)_65%)]
    }

    .os-startmenu-bottom-colors {
        @apply bg-[linear-gradient(to_bottom,var(--color-os-secondary)_0%,var(--color-os-secondary)_35%,var(--color-os-primary)_65%)]
    }
}

/*endregion Themes Dark*/