@import "tailwindcss";
@import "@nuxt/ui";

/* Suffix = wb- 'web browser' styling:
* Address Bar
* Bookmarks Bar
* Navigation Bar
*/

@font-face {
    font-family: "tahoma";
    src: url("../fonts/tahoma-regular.ttf") format("truetype");
}

@theme static {
    /* Placeholder declarations */
    --color-web-primary: #4686f6;
    --color-web-egg: none;
    --color-web-fg: none;
}

:is(.light, .os-blue, .os-olive-green, .os-silver) {
    --color-web-bg: #ffffff;
    --color-web-fg: #000000;
}


:is(.dark, .os-royale-noir, .os-zune, .os-embedded) {
    --color-web-bg: #242424;
    --color-web-fg: #ffffff;
}