# region SHARED CONFIG
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
#endregion

# region DATABASE CONFIG
DB_HOST=postgres
DB_PORT=5432

DB_DATABASE=MemoryMallDB
DB_USERNAME=appuser
DB_PASSWORD=database123
#endregion

# region BACK-END CONFIG
# Database Configuration
BE_HOST=express
BE_PORT=3000

BE_JWT_SECRET=12345678123456781234567812345678
BE_JWT_EXPIRES_IN=7d

BE_BCRYPT_SALT_ROUNDS=12

BE_NODE_ENV=development
BE_LOG_LEVEL=info
#endregion

# region FRONT-END CONFIG
FE_HOST=nuxt
FE_PORT=3001
#endregion