########################
# BACKEND

# Express dev/build outputs
/backend/node_modules


########################
# FRONTEND

# Nuxt dev/build outputs
/frontend/.output
/frontend/.data
/frontend/.nuxt
/frontend/.nitro
/frontend/.cache
/frontend/dist
/frontend/node_modules

# Tailwind CSS
/frontend/public/styles/output.css


########################
# GENERAL

# Environment variables (dev, prod, test)
.env
.env.production
.env.test

.env.local
.env.production.local
.env.test.local

!.env.example

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
tmp/
temp/
.tmp/
*.tmp
*.temp

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project