@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: "general-sans";
    src: url("../../fonts/swansea.ttf") format("truetype");
}
/* Suffix = mm- 'memory mall' styling */
/* Apply this class to your root page/comp containers */
.STYLE-web-mm {
    font-family: "swansea", sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;
}

/* Color Pallet */
@theme static {
    /* Dynamic declarations (Light/Dark Modes) */
    --color-web-mm-bg-base: none;
    --color-web-mm-bg-surface: none;
    --color-web-mm-bg-raised: none;

    --color-web-mm-border: none;

    --color-web-mm-text: none;
    --color-web-mm-text-dimmed: none;

    /* Static declarations */
    --color-web-mm-primary: var(--color-web-mm-primary-50);
    --color-web-mm-primary-dimmed: var(--color-web-mm-primary-50);

    --color-web-mm-secondary: var(--color-web-mm-secondary-50);
    --color-web-mm-secondary-dimmed: var(--color-web-mm-secondary-50);

    --color-web-mm-primary-50: #fff0f2;
    --color-web-mm-primary-100: #ffdde2;
    --color-web-mm-primary-200: #ffc1cb;
    --color-web-mm-primary-300: #ff96a6;
    --color-web-mm-primary-400: #ff5a74;
    --color-web-mm-primary-500: #ff2749;
    --color-web-mm-primary-600: #fb072d;
    --color-web-mm-primary-700: #d30223;
    --color-web-mm-primary-800: #b30621; /* BASE */
    --color-web-mm-primary-900: #8f0d21;
    --color-web-mm-primary-950: #8f0d21;

    --color-web-mm-secondary-50: #fff0f2;
    --color-web-mm-secondary-100: #ffdde2;
    --color-web-mm-secondary-200: #ffc1cb;
    --color-web-mm-secondary-300: #ff96a6;
    --color-web-mm-secondary-400: #ff5a74;
    --color-web-mm-secondary-500: #ff2749;
    --color-web-mm-secondary-600: #fb072d;
    --color-web-mm-secondary-700: #d30223;
    --color-web-mm-secondary-800: #b30621; /* BASE */
    --color-web-mm-secondary-900: #8f0d21;
    --color-web-mm-secondary-950: #8f0d21;
}


/* Color Modes */
:is(.light, .os-blue, .os-olive-green, .os-silver) {
    --color-web-mm-bg-base: #f0f8ff;
    --color-web-mm-bg-surface: #d0d8f0;
    --color-web-mm-bg-raised: none;

    --color-web-mm-text: #000000;
    --color-web-mm-text-dimmed: none;

    --color-web-mm-border: none;
}

:is(.dark, .os-royale-noir, .os-zune, .os-embedded) {
    --color-web-mm-bg-base: #384048;
    --color-web-mm-bg-surface: #485058;
    --color-web-mm-bg-raised: none;

    --color-web-mm-text: #ffffff;
    --color-web-mm-text-dimmed: none;

    --color-web-mm-border: none;
}


/* Prefabs */
.web-mm-glossy-button-primary {
    @apply bg-[linear-gradient(to_bottom,var(--color-web-mm-primary-500)_0%,var(--color-web-mm-primary-500)_35%,var(--color-web-mm-primary-600)_65%)]
}

.web-mm-glossy-button-green {
    @apply bg-[linear-gradient(to_bottom,var(--color-green-500)_0%,var(--color-green-500)_35%,var(--color-green-600)_65%)]
}

.web-mm-glossy-button-blue {
    @apply bg-[linear-gradient(to_bottom,var(--color-blue-500)_0%,var(--color-blue-500)_35%,var(--color-blue-600)_65%)]
}