@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: "general-sans";
    src: url("../../fonts/swansea.ttf") format("truetype");
}

/* Suffix = web-mm- 'web browser, memory mall' styling */
/* Apply this class to the root page/comp container */
.web-mm-STYLE {
    font-family: "swansea", sans-serif;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: auto;

    @apply text-fg border-stroke
}


/* Prefabs */
.web-mm-gradient-primary {
    @apply bg-[linear-gradient(to_bottom,var(--color-primary-50)_0%,var(--color-primary-50)_35%,var(--color-primary-60)_65%)]
}


@theme static {
    /* Dynamic semantics (Placeholders for Light/Dark Themes) */
    --color-web-mm-base: none;
    --color-web-mm-surface: none;
    --color-web-mm-raised: none;

    --color-web-mm-stroke: none;

    --color-web-mm-fg-dim: none;
    --color-web-mm-fg: none;

    /* Static semantics */
    --color-web-mm-pri: var(--color-web-mm-pri-50);
    --color-web-mm-pri-dim: var(--color-web-mm-pri-20);

    --color-web-mm-sec: var(--color-web-mm-sec-50);
    --color-web-mm-sec-dim: var(--color-web-mm-sec-20);

    /* Color Definitions */
    --_web-mm-tone-example: hsl(355, 50%, 50%);
    --_web-mm-tone-h: 355;
    --_web-mm-tone-s: 50%;

    --_web-mm-pri-example: hsl(350.64, 93.51%, 50%);
    --_web-mm-pri-h: 350.64;
    --_web-mm-pri-s: 93.51%;

    --_web-mm-sec-example: hsl(144.9, 100%, 50%);
    --_web-mm-sec-h: 144.9;
    --_web-mm-sec-s: 100%;

    /* Color Variants */
    --color-web-mm-tone-0: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 0%);
    --color-web-mm-tone-5: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 5%);
    --color-web-mm-tone-10: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 10%);
    --color-web-mm-tone-20: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 20%);
    --color-web-mm-tone-30: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 30%);
    --color-web-mm-tone-40: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 40%);
    --color-web-mm-tone-50: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 50%);
    --color-web-mm-tone-60: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 60%);
    --color-web-mm-tone-70: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 70%);
    --color-web-mm-tone-80: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 80%);
    --color-web-mm-tone-90: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 90%);
    --color-web-mm-tone-95: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 95%);
    --color-web-mm-tone-100: hsl(var(--_web-mm-tone-h), var(--_web-mm-tone-s), 100%);

    --color-web-mm-pri-0: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 0%);
    --color-web-mm-pri-5: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 5%);
    --color-web-mm-pri-10: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 10%);
    --color-web-mm-pri-20: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 20%);
    --color-web-mm-pri-30: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 30%);
    --color-web-mm-pri-40: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 40%);
    --color-web-mm-pri-50: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 50%);
    --color-web-mm-pri-60: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 60%);
    --color-web-mm-pri-70: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 70%);
    --color-web-mm-pri-80: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 80%);
    --color-web-mm-pri-90: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 90%);
    --color-web-mm-pri-95: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 95%);
    --color-web-mm-pri-100: hsl(var(--_web-mm-pri-h), var(--_web-mm-pri-s), 100%);

    --color-web-mm-sec-0: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 0%);
    --color-web-mm-sec-5: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 5%);
    --color-web-mm-sec-10: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 10%);
    --color-web-mm-sec-20: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 20%);
    --color-web-mm-sec-30: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 30%);
    --color-web-mm-sec-40: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 40%);
    --color-web-mm-sec-50: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 50%);
    --color-web-mm-sec-60: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 60%);
    --color-web-mm-sec-70: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 70%);
    --color-web-mm-sec-80: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 80%);
    --color-web-mm-sec-90: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 90%);
    --color-web-mm-sec-95: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 95%);
    --color-web-mm-sec-100: hsl(var(--_web-mm-sec-h), var(--_web-mm-sec-s), 100%);
}


/* Light/Dark Themes */
:is(.light, .os-blue, .os-olive-green, .os-silver) {
    --color-web-mm-base: var(--color-web-mm-tone-100);
    --color-web-mm-surface: var(--color-web-mm-tone-95);
    --color-web-mm-raised: var(--color-web-mm-tone-90);

    --color-web-mm-stroke: var(--color-web-mm-tone-60);

    --color-web-mm-fg-dim: var(--color-web-mm-tone-30);
    --color-web-mm-fg: var(--color-web-mm-tone-5);
}

:is(.dark, .os-royale-noir, .os-zune, .os-embedded) {
    --color-web-mm-base: var(--color-web-mm-tone-5);
    --color-web-mm-surface: var(--color-web-mm-tone-10);
    --color-web-mm-raised: var(--color-web-mm-tone-20);

    --color-web-mm-stroke: var(--color-web-mm-tone-40);

    --color-web-mm-fg-dim: var(--color-web-mm-tone-70);
    --color-web-mm-fg: var(--color-web-mm-tone-95);
}